
@using static Gestion_Administrativa_Api.Documents_Models.Factura.factura_V100;
@{
    factura_V1_0_0 factura = @Model.factura_V1_0_0;
    string telefono = @Model.telefono;
    decimal? subtotal12 = 0;
    decimal? subtotal0 = 0;
}




<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Recibo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>


</head>

<body>


    <div class="plantilla">

        <div style="text-align: center;">

            <img class="logo" src="~/Imagenes/Logo/logoRecibo.png">

        </div>



        <div class="nombreEmpresa bolder" style="margin-bottom: 7px; margin-top: 15px; font-size: 14PX;">
            @factura.infoTributaria.razonSocial.ToUpper()
        </div>


        <table style="width: 100%;">

            <tr>
                <td>
                    <div class="encabezado">




                        <div class="mt-1">
                            <strong class="bolder">RUC:</strong> <label>@factura.infoTributaria.ruc</label>
                        </div>

                        <div class="mt-1">
                            <strong class="bolder">Dirección:</strong> <label>@factura.infoTributaria.dirMatriz</label>
                        </div>



                        <hr style="visibility: hidden;">

                        <div>
                            <strong class="bolder">Factura N.-</strong> <label>@factura.infoTributaria.estab-@factura.infoTributaria.ptoEmi-@factura.infoTributaria.secuencial</label>
                        </div>
                        <strong class="bolder">Autorizazión SRI:</strong>
                        <div style="width: 80mm;word-wrap:break-word">@factura.infoTributaria.claveAcceso</div>


                        <hr style="visibility: hidden;">

                        <div class="mt-1">
                            <strong class="bolder">Fecha:</strong> <label>@DateTime.Now.ToString("dd-MM-yyyy hh:mm:ss")</label>
                        </div>


                        <div class="mt-1">
                            <strong class="bolder">Ced/Ruc:</strong> <label>@factura.infoFactura.identificacionComprador</label>
                        </div>

                        <div class="mt-1">
                            <strong class="bolder">Nombre</strong> <label>@factura.infoFactura.razonSocialComprador</label>
                        </div>

                        <div class="mt-1">
                            <strong class="bolder">Dirección:</strong> <label>@factura.infoFactura.direccionComprador</label>
                        </div>

                        <div class="mt-1">
                            <strong class="bolder">Telefono:</strong> <label>@telefono</label>
                        </div>




                    </div>
                </td>
            </tr>

        </table>


        <table class="detalleTabla">

            <thead>

                <tr>
                    <th>CANT</th>
                    <th>DESCRIP</th>
                    <th>P.UNIT</th>
                    <th>TOTAL</th>
                </tr>

            </thead>

            <tbody>


                @foreach (var item in @factura.detalles)

                {

                    <tr>

                        <td>@item.cantidad</td>
                        <td>@item.descripcion</td>
                        <td>@item.precioUnitario</td>
                        <td>@item.precioTotalSinImpuesto</td>
                    </tr>

                }


            </tbody>

        </table>


        <div>
        </div>




        <table style="width: 100%;" class="tablaPrincipalTotales">
            <tr>
                <td>

                    <table style="width: 100%;">

                        <tr>
                            <td class="bolder">FORMA PAGO:</td>
                            <label></label>

                        </tr>



                        @foreach (var item in @factura.infoFactura.pagos)
                        {
                            <tr>
                                <td align="left" width="100">



                                    @(item.formaPago == "01" ? "01-SIN UTILIZA" :
                                        (item.formaPago == "16" ? "16-TARJETA DÉB" :
                                        (item.formaPago == "17" ? "17-DINERO ELECT" :
                                        (item.formaPago == "20" ? "20-OTROS" :
                                        (item.formaPago == "21" ? "21-ENDOSO" :
                                        (item.formaPago == "15" ? "15-COMPENSACIÓN" :
                                        (item.formaPago == "19" ? "19-TARJETA CRÉD"
                                        : ""))))))

                                        )


                                </td>
                                <td align="center" width="100">@item.total?.ToString("0.00")</td>
                                @*<td align="center" width="100">@item.plazo</td>*@
                            </tr>

                        }

                        @*<tr>
                        <td class="bolder">DINERO ELEC</td>
                        <td>0.00</td>
                        <label></label>
                        </tr>
                        <tr>
                        <td class="bolder">TARJ CRED/DEB</td>
                        <td>0.00</td>
                        <label></label>
                        </tr>
                        <tr>
                        <td class="bolder">OTROS </td>
                        <td>0.00</td>
                        <label></label>
                        </tr>*@


                    </table>

                </td>
                <td>
                    <table style="width: 100%;">
                        <tr>
                            <td class="bolder">SUBTOTAL</td>
                            <label></label>
                            <td class="end">@factura.infoFactura.totalSinImpuestos?.ToString("0.00")</td>
                            <label></label>
                        </tr>
                        @foreach (var item in @factura.detalles)
                        {

                            @foreach (var itemImpuestos in item.impuestos)
                            {


                                @if (itemImpuestos.codigoPorcentaje == 2)
                                {
                                    subtotal12 += itemImpuestos.baseImponible;
                                }

                                @if (itemImpuestos.codigoPorcentaje == 0)
                                {
                                    subtotal0 += itemImpuestos.baseImponible;
                                }

                            }

                        }
                        <tr>
                            <td class="bolder">IVA0%</td>
                            <td class="end">@subtotal0?.ToString("0.00")</td>
                            <label></label>
                        </tr>
                        <tr>
                            <td class="bolder">IVA12%</td>
                            <td class="end">@subtotal12?.ToString("0.00")</td>
                            <label></label>
                        </tr>
                        <tr>
                            <td class="bolder">IVA</td>

                            @foreach (var item in @factura.infoFactura.totalConImpuestos)
                            {
                                <td class="end">

                                    @item.valor?.ToString("0.00")

                                </td>

                            }

                            <td class="end"></td>
                            <label></label>
                        </tr>

                        <tr>
                            <td class="bolder">TOTAL</td>
                            <td class="end" style="font-weight: bolder;">@factura.infoFactura.importeTotal?.ToString("0.00")</td>
                            <label></label>
                        </tr>







                    </table>
                </td>
            </tr>
        </table>



        <table style="width: 50%;" class="tablaPrincipalTotales">
            <tr>



                <td>
                    <table style="width: 100%;">
                        <tr>
                            <td class="bolder">RECIBIDO</td>
                            <label></label>
                            <td class="end">100.000</td>
                            <label></label>
                        </tr>

                        <tr>
                            <td class="bolder">VUELTO</td>
                            <label></label>
                            <td class="end">100.000</td>
                            <label></label>
                        </tr>



                    </table>
                </td>
            </tr>


        </table>
        <div class="nombreEmpresa bolder" style="margin-bottom: 7px; margin-top: 15px;">
            AGENTE DE RETENCIÓN RESOLUCIÓN
            N.
        </div>
        <div class="nombreEmpresa " style="margin-bottom: 5px;">NAC-DNCRASC20-000000001</div>


    </div>





</body>

<style>


    .tablaPrincipalTotales {
        border: 1px solid black;
        width: 100%;
        border-top: none;
        border-left: none;
        border-right: none;
    }


    .nombreEmpresa {
        text-align: center;
    }

    .bolder {
        font-weight: bolder;
    }

    .end {
        text-align: end;
    }


    .plantilla {
        color: black;
        margin-left: auto;
        margin-right: auto;
        width: 80mm;
        height: 157mm;
        /* border: 1px solid black; */
        font-size: 12px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }

    .text7 {
        font-size: .7rem;
    }

    .mt-1 {
        margin-top: 4px;
    }



    /* .encabezado {
                margin-left:0px;
            } */


    .detalleTabla {
        border: 1px solid black;
        width: 100%;
        border-left: none;
        border-right: none;
        margin-top: .2rem;
    }

    .bolder {
        font-weight: bolder;
    }


    .detalleTabla tbody tr {
        text-align: center;
        font-size: 12px;
    }

    .logo {
        width: 150px;
        height: 60px;
        margin-top: .6rem;
    }
</style>

</html>